<div class="about-grids">
    <div class="col-md-12 about-center-grid">
        <h3 class="text-center">David Zhou</h3>
        <p class="text-center">
            90后，曾就读于重庆理工大学，专业软件工程，从事web前端已经有2年了，从最初原生的Javascript、HTML、CSS到现在流行的
            angularJs、Bootstrap，再到node.js和模块化，不知不觉间已经接触和学习了这么多的前端技术，也从最初的“Hello World”到
            现在能够用代码解决实际问题。目前为止一共去过两个公司，在第一个公司的时候感觉公司平台不够高，想去大公司看看就
            果断辞职了。在第二个公司的时候因为不认可公司的企业文化，待着不开心也果断辞职了。虽然说的确有点冲动，但年轻时
            不冲动，老了就没机会了，还是希望能不忘初心，在生活和工作中一点一点地让自己沉淀得更加成熟吧。
        </p>
    </div>
    <div class="clearfix"> </div>
    <div class="skills" id="skills">
        <div class="container">
            <div class="skills-info">
                <h3>Skills</h3>
                <span> </span>
                <div class="study2">
                    <h4>JS</h4>
                    <div class="progress">
                        <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" style="width: 70%">
                            <span class="sr-only">70% Complete (success)</span>
                        </div>
                    </div>
                    <h4>Bootstrap</h4>
                    <div class="progress">
                        <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100" style="width: 50%">
                            <span class="sr-only">50% Complete</span>
                        </div>
                    </div>
                    <h4>AngularJS</h4>
                    <div class="progress">
                        <div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%">
                            <span class="sr-only">60% Complete (warning)</span>
                        </div>
                    </div>
                    <h4>Node.js</h4><h4>
                    <div class="progress">
                        <div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="30" aria-valuemin="0" aria-valuemax="100" style="width: 30%">
                            <span class="sr-only">30% Complete (danger)</span>
                        </div>
                    </div>
                </h4>
                </div>
            </div>
        </div>
    </div>
</div>
